Repository hakimmaaouia/FibreForYou-Api: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format, yarn prettierCheck

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["yarn lint"],
  "./**/*.{ts,js,json,*rc}": ["yarn format", "yarn prettierCheck"]
}

ci cd : build pipeline
  .github/workflows/main.yml
Due: none

ci cd : fix pipeline
  .github/workflows/main.yml
Due: none

ci cd : add lint:check in package.json
  package.json
Due: yarn format, yarn prettierCheck

ci cd : fix pipeline add sonarcloud
  .github/workflows/main.yml
Due: none

ci: fix pipeline add sonarcloud
  sonar-project.properties
Due: none

ci: fix sonarcloud
  sonar-project.properties
Due: none

feat: add crud product
  src/app.module.ts
  src/auth/auth.module.ts
  src/product/dto/createProduct.dto.ts
  src/product/dto/getProductWithFilter.dto.ts
  src/product/product.controller.ts
  src/product/product.module.ts
  src/product/product.service.ts
  src/product/task.model.ts
  src/users/users.module.ts
Due: yarn lint, yarn format, yarn prettierCheck

feat: add class-validator class-transforme :package:
  package.json
  yarn.lock
Due: yarn format, yarn prettierCheck

fix: add class-validitor
  src/product/dto/createProduct.dto.ts
  src/product/dto/getProductWithFilter.dto.ts
  src/product/product.controller.ts
Due: yarn lint, yarn format, yarn prettierCheck

fix: setup connection with db
  package.json
  src/app.module.ts
  src/config/typeOrm.config.ts
  src/product/product.service.ts
  yarn.lock
Due: yarn lint, yarn format, yarn prettierCheck

fix: add entity
  src/product/product.entity.ts
  src/product/product.model.ts
  src/product/product.service.ts
Due: yarn lint, yarn format, yarn prettierCheck

fix: env configuration
  package.json
  src/app.module.ts
  src/config/configuration.ts
  src/config/env/development.env
  src/config/env/production.env
  src/config/typeOrm.config.ts
  src/main.ts
  src/product/product.entity.ts
  yarn.lock
Due: yarn lint, yarn format, yarn prettierCheck
